.avatar {
    width: 100%;
    max-width: 50px;
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}


.badge {
    font-size: 0.875rem;
}

.btn i {
    font-size: 1.125rem;
}
.btn-custom {

    background-color: #337ab7;
    border-color: #337ab7;
    border-radius: 5px;
}
.btn-custom i {
    color: white;
}

.btn-custom:hover {
    background-color: #286090;
    border-color: #204d74;
}

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}


.table thead th {
    border: none;
    background-color: #ffffff;
}


.table thead {
    margin-bottom: 5px;


}
.table thead th {
    padding-bottom: 10px;
}

.table tbody tr {
    background-color: #f0f0f0;
}

.table tbody td {
    border: none;
}
@media (max-width: 768px) {
    .table tbody td {
        padding: 5px 10px;
    }
}
